# Frontend DB
FRONTEND_DB_NAME=frontend_db
FRONTEND_DB_USER=frontend_user
FRONTEND_DB_PASSWORD=change_this_password
FRONTEND_DB_ROOT_PASSWORD=change_this_root_password

# Admin DB
ADMIN_DB_NAME=admin_db
ADMIN_DB_USER=admin_user
ADMIN_DB_PASSWORD=change_this_password
ADMIN_DB_ROOT_PASSWORD=change_this_root_password