[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-filter = "*"
gunicorn = "*"
python-dotenv = "*"
django = "*"
mysqlclient = "*"
kafka-python = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.13"
